# mehmetfatihdata

In [4]:
import pandas as pd

# Q1:
Maximum kredi limiti nedir? Hangi müşteriye ait?

In [7]:
cevap=pd.read_csv("sql_odev_2_soru_1.csv", index_col=0)
cevap

                   max(creditLimit)
customerName
Atelier graphique          227600.0

# Q2:
Her ülkeden kaç müşteri var?

In [9]:
cevap2=pd.read_csv("sql_odev_2_soru_2.csv", index_col=0)
cevap2

              musteri_sayisi
ulke_adi
France                    12
USA                       36
Australia                  5
Norway                     3
Poland                     1
Germany                   13
Spain                      7
Sweden                     2
Denmark                    2
Singapore                  3
Portugal                   2
Japan                      2
Finland                    3
UK                         5
Ireland                    2
Canada                     3
Hong Kong                  1
Italy                      4
Switzerland                3
Netherlands                1
Belgium                    2
New Zealand                4
South Africa               1
Austria                    2
Philippines                1
Russia                     1
Israel                     1

# Q3:
En az sipariş veren müşteri numarası ve sipariş sayısı nedir (orders tablosundan)?

BİTTİ. TEŞEKKÜRLER.