# mehmetfatihdata

In [2]:
import pandas as pd

# Q1:
Müşteri sayısı:

20’dan fazla olan ülkeler büyük ülke,
10 ile 20 arası orta,
10’dan az olanlar ise küçük ülke
olacak olursa kaç tane büyük,orta, küçük ülke vardır?

İpucu: CTE, Case, group by ifadelerini birlikte kullanabilirsiniz.

WITH musteri AS (
SELECT
country as ulke,
count(*) as musteri_sayisi
FROM 
customers
GROUP BY 
ulke 
ORDER BY musteri_sayisi DESC)
SELECT
CASE
	when musteri_sayisi>20 THEN 'Büyük Ülke'
	when musteri_sayisi>10 THEN 'Orta Ülke'
	ELSE 'Küçük Ülke'
	END AS ulke_statu,
	count(1) as ulke_sayı
FROM
musteri
GROUP BY (1);

In [3]:
cevap=pd.read_csv("sql_odev_3_1.csv", index_col=0)
cevap

            ulke_sayı
ulke_statu
Büyük Ülke          1
Orta Ülke           2
Küçük Ülke         24

BİTTİ. TEŞEKKÜRLER.